############
# Orbit Environment Variables
############

SESSION_SECRET=EXAMPLE_SESSION_SECRET # Generate a secure secret with `openssl rand -hex 32`. Orbit will refuse to start if this remains set to EXAMPLE_SESSION_SECRET. Changing this value will invalidate all existing sessions and log everyone out.
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE # Leave empty when using the PostgreSQL database provided by Docker Compose.

############
# PostgreSQL - Only required when using PostgreSQL through Docker Compose.
# Be sure to change the default password before deploying to production.
############

# POSTGRES_PASSWORD=supersecretpassword
# POSTGRES_USER=postgres
# POSTGRES_DB=tovy
# POSTGRES_PORT=5432
